@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .wrap {
    width: 90vw;
  }
  .menu {
    display: none;
  }
  .blog-menu::before {
    display: block;
  }
  .blog-menu::after {
    display: block;
  }
  .trends-wrapper {
    flex-wrap: wrap;
  }
  .trend {
    width: 49.5%;
    margin-bottom: 0.5%;
    margin-right: 0;
  }
  .trend:nth-child(odd) {
    margin-right: 0.5%;
  }
 .blog-content {
   width: 90vw;
 }
 .article {
  flex-direction: column;
 }
 .article-img {
   width: 100%;
 }
 .article-content {
  margin-left: 0;
 }
 .article-tags {
   margin-top: 10px;
 }
 .article-title {
   margin-top: 10px;
 }
 .article-text {
   margin-top: 30px;
 }
 aside {
   margin-left: 35px;
 }

 .products-wrapper {
   width: 90vw;
   flex-wrap: wrap;
 }

 .product {
   width: calc(50% - 12px);
 }
 .product:nth-child(odd) {
   margin-right: 12px;
   margin-left: 0;
 }
 .product:nth-child(even) {
   margin-left: 12px;
   margin-right: 0;
 }
 .product-body {

 }

 .media {
   width: 90vw;
 }
}

 /* @media (min-width: 768px) and (max-width: 950px) {
  aside {
    margin-left: 35px;
  }
} */

@media (max-width: 767px) {
  .logo {
    width: 280px;
    margin: 200px auto 30px;
  }
  .blog-title {
    width: 70%;
  }
  .blog-menu {
    margin-bottom: 0;
  }
  .blog-menu::before {
    right: 2%;
  }
  .blog-menu::after {
    right: 2%;
  }
  .blog {
    padding-bottom: 200px;
  }
  h1 {
    font-size: 26px;
    line-height: 36px;
  }
  .trend {
    width: 100%;
  }
  .trend:nth-child(odd) {
    margin-right: 0;
  }
  .blog-content {
    flex-direction: column;
  }
  .articles {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article {
    width: 95%;
  }

  .article-text {
    margin-top: 15px;
  }
  .article-meta {
    margin-top: 10px;
  }
  .article-img {
    width: 100%;
  }

  aside {
    width: 95%;
    max-width: 450px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .product {
    width: 95%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 45px;
  }

  .product:nth-child(odd) {
    margin-right: 0;
  }
  .product:nth-child(even) {
    margin-left: 0;
  }

  .search {
    margin-left: auto;
    margin-right: auto;
  }

  .email {
    width: 271px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (orientation: portrait) and (min-width: 641px) and (max-width: 1200px)  {
  .trends-wrapper {
    flex-wrap: wrap;
  }
  .trend {
    width: 49.5%;
    margin-bottom: 0.5%;
    margin-right: 0;
  }
  .trend:nth-child(odd) {
    margin-right: 0.5%;
  }
}

@media (orientation: landscape) and (max-width: 640px) {
  .trends-wrapper {
    flex-wrap: wrap;
  }
  .trend {
    width: 49.5%;
    margin-bottom: 0.5%;
    margin-right: 0;
  }
  .trend:nth-child(odd) {
    margin-right: 0.5%;
  }
  .trend-content {
    padding: 10px 10px;
  }
}
