@font-face {
  font-family: 'Open-sans 400';
  src: url(../fonts/OpenSans-Regular.woff),url(../fonts/OpenSans-Regular.woff2),url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans 700';
  src: url(../fonts/OpenSans-Bold.woff),url(../fonts/OpenSans-Bold.woff2),url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Open-sans 400';
  margin: 0;
}

button {
  cursor: pointer;
}

.blog {
  background-color: #698273;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 34px;
  padding-bottom: 144px;
  position: relative;

}

.blog::after {
  content:"";
  position: absolute;
  background-color: #000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
}

.wrap {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.blog-menu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}


.burger-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 18px;
  border: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  right: 0%;
  top: 10%;
  display: none;
}

.burger-button:active, .burger-button:focus {
  outline: none;
}

.burger-button:hover {
  border-top: 2px solid #cbb778;
  border-bottom: 2px solid #cbb778;
}

.burger-button:hover .burger-line {
    border-bottom: 2px solid #cbb778;
}

.burger-line {
  background-color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 4px;
  border-bottom: 2px solid #fff;
  position: absolute;
  right: 0%;
  top: 10%;
  display: none;
}


.logo {
  width: 186px;
}

.menu {
  width: 464px;
}



.menu-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-list-item {
  margin-right: 35px;
}

.menu-list-item:last-child {
  margin-right: 0;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
}

.menu-link:active,  .menu-link:hover{
  text-decoration: underline;
}

.blog-title {
  position: relative;
  z-index: 1;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}

h1 {
  font-family: 'Open-sans 700';
  color: #fff;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  line-height: 75px;
}

.trends {
   margin-top: 64px;
}

.trends-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.trend {
  width: calc(25% - 3px);
  box-sizing: border-box;
  position: relative;
  margin-right: 4px;
}

.trend-content {
  border: 3px solid #b59f5b8a;
  box-sizing: border-box;
  width: 90%;
  position: absolute;
  bottom: 16px;
  left: 5%;
  z-index: 2;
  padding: 25px 23px;
}

.trend-content:hover {
  border: 3px solid #b59f5b;
  transition: 0.5s;
  cursor: pointer;
}

.trend-tags {
  margin-top: 0 !important;
  line-height: 1em;
}

.trend-preview {
  display: block;
}

.trend-img {
  width: 100%;
  min-width: 163px;
  display: block;
}

.trend::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.trend:last-child {
  margin-right: 0;
}



.trend-title a {
  color: #fff;
}



.trends-title a:hover,
.article-title a:hover {
  color: #b59f5b;
  transition: 0.5s;
}

.article-tags a:hover {
  color: #756639;
  transition: 0.5s;
}

.sidebar-title:hover,
.post-content a:hover {
  cursor: pointer;
  color: #b59f5b;
  transition: 0.5s;
}

.blog-content {
  width: 1170px;
  padding-top: 65px;
  padding-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.articles {
  width: calc(1170px - 116px - 270px);
}

.article {
  display: flex;
  margin-bottom: 58px;
}

.article-preview {
  display: block;
}

.article-img {

  display: block;
}

.article:last-child {
  margin-bottom: 0;
}

.article-content {
  margin-left: 30px;
}

.article-tags a {
  text-transform: uppercase;
  font-family: 'Open-sans 700';
  font-size: 14px;
  color: #baa566;
  margin-right: 16px;
}

.article-title {
  margin-top: 4px;
}

h2 {
  margin: 0;
  line-height: 20px;
}

.article-title a {
  text-transform: uppercase;
  font-family: 'Open-sans 700';
  font-size: 20px;
}

 time {
  font-size: 12px;
  color: #888888;
  margin-right: 10px;
}

.article-meta {
  margin-top: 25px;
}

.article-meta a {
  font-family: 'Open-sans 700';
  font-size: 12px;
}

.author {
  border-bottom: 2px solid rgba(0,0,0,0);
}

.author:hover {
  /* letter-spacing: 0.1em;
  transition: 0.5s; */
  color: #b59f5b;
}

.article-text {
 margin-top: 48px;
 font-size: 15px;
}

aside {
  width: 272px;
  margin-left: 116px;
}

.post {
  display: flex;
  margin-bottom: 20px;
  vertical-align: top;
}

.post:last-child {
  margin-bottom: 0;
}

.post-preview {
  display: block;
}

.post-img {
  display: block;
}

.post-content {
  margin-left: 20px;
}

h3 {
  font-family: 'Open-sans 700';
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 2px;
  line-height: 16px;
}

.sidebar-title,
.trends-title {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.sidebar-title::after,
.trends-title::after {
  content:"";
  display: block;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 10px;
}



.search {
  width: 271px;
  position: relative;
  margin-top: 54px;
}

input::-webkit-input-placeholder {
  color: #707171;
  font-style: normal;
  font-size: 13px;
  font-family:'Open-sans 400';
}
input::-moz-placeholder {
  color: #707171;
  font-style: normal;
  font-size: 13px;
  font-family:'Open-sans 400';
}
input::-ms-input-placeholder {
  color: #707171;
  font-style: normal;
  font-size: 13px;
  font-family:'Open-sans 400';
}

.field {
  padding-left: 18px;
  width: 251px;
  height: 49px;
  border: none;
  background-color: #f4f7f6;
}

.field:focus {
  outline: 2px solid #e1d9bd;
  outline-offset: 2px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #b59f5b;
}

.search-button:active, .search-button:focus {
  outline: none;
  color: #9b8541;
}

.search-button:hover .search-img {
  width: 24px;
  transition: 0.5s;
}

.search-img {
  width: 18px;
}

.mail {
  margin-top: 54px;
}

.email-button {
  margin-top: 19px;
  width: 271px;
  height: 50px;
  border: 2px solid  rgba(0,0,0,0);
  background-color: #b59f5b;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-family: 'Open-sans 700';
  text-align: center;
}

.email-button:active, .email-button:focus {
  outline: none;
}

.email-button:hover {
    background-color: #fff;
    color: #b59f5b;
    border: 2px solid  #b59f5b;
}

.tags {
  margin-top: 54px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap
}

.tag-list a {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open-sans 700';
  border: 3px solid #ededed;
  padding: 7px 12px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.tag-list a:last-child {
  margin-right: 0;
}

.tag-list a:hover {
  color: #9b8541;
  border: 3px solid #e1d7bd;
}

.topics {
  margin-top: 54px;
}

.topic-list a:hover {
  letter-spacing: 0.1em;
  transition: 0.5em;
}

.topics a {
  display: block;
  font-size: 14px;
  font-family: 'Open-sans 700';
  border-bottom: 1px solid #ededed;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: left;
}

.products-wrapper {
  width: 1170px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.product {
  width: 30%;
  margin-right: 64px;
  margin-bottom: 30px;
}

.product:last-child {
  margin-right: 0;
}

.product-preview {
  margin: 0 auto;
  width: 100%;
  display: block;
}

.product-img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.product-body {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid #b59f5b;
  margin: -30px auto 0 auto;
  padding: 40px 25px 25px 25px;

  min-height: 270px;
}

.product-description p {
  margin: 10px 0 20px ;
}

.product-description a {
  color: #b59f5b
}

.product-description p a:hover {
  color: #756639;
}

.product-footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-family: 'Open-sans 700' ;
  font-size: 20px;
  line-height: 18px;
}

.product-price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.product-button {
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #b59f5b;
  padding: 16px 26px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open-sans 700';
  color: #fff;
}

.product-button:active, .product-button:focus {
  outline: none;
}

.product-button:hover {
  box-sizing: border-box;
  background-color: #fff;
  color: #b59f5b;
  border: 2px solid  #b59f5b;
}

span {
  display: block;
}


sup {
  font-size: 12px;
  color: #b59f5b;
}

footer {
  padding-top: 24px;
  padding-bottom: 40px;
}

.media {
  box-sizing: border-box;
  width: 1170px;
  height: 85px;
  margin: 0 auto;
  background-color: #f4f7f6;
  padding-top: 32px;
  margin-bottom: 74px;
}

.media-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.media img {
  width: 24px;
}

.media a {
  margin-right: 18px;
}

.media a:hover {
 border-bottom: 2px solid #000;
}

.media a:last-child {
  margin-right: 0;
}

.copiright a {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #999999;
  font-family: 'Open-sans 700';
}

.popup_hidden {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  font-family: 'Open-sans 400';
  font-size: 13px;
  display: none;
}

.popup-container {
  box-sizing: border-box;
  max-width: 350px;
  width: 95%;
  margin: auto;
  padding: 50px 25px;
  background-color: #ffffff;
  position: relative;
}

.form-group {
  margin-bottom: 30px;
}

.form-title {
  margin-bottom: 10px;
}

.select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 15px;
  padding-right: 25px;
  margin: 0;
  border: none;
  background-color: #f4f7f6;
  font-size: 13px;
  color: #797a7a;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.select:active, .select:focus {
  outline: none;
}

.checkbox-group {
  display: block;
  margin-right: 20px;
}

.checkbox-group:last-child {
  margin-right: 0;
}

.checkbox-content {
 display: flex;
}

.checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.checkbox-text {

}

.checkbox-text::before {
  margin-right: 8px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.checkbox:checked ~ .checkbox-text::before {
  background-image: url(../svg/form-circle.svg);
}

.textarea {
  display: block;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  padding: 15px;
  margin: 0;
  border: none;
  background-color: #f4f7f6;
  font-family: 'Open-sans 400';
  line-height: 1em;
  font-size: 13px;
  color: #797a7a;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
 }

 .textarea:active, .textarea:focus {
   outline: none;
 }

.send-button {
  margin-top: 0;
  width: 100%;
}

.send-button:active, .send-button:focus {
  outline: none;
}

.popup-close {
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -5%;
  right: 0%;
}
